name: Backend Deploy (Spring Boot)

on:
  push:
    branches: [ "main" ]
    paths:
      - 'back-end/**'
      - '.github/workflows/back-deploy.yml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: 코드 가져오기
        uses: actions/checkout@v3

      - name: JDK 21 설정 (Temurin)
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Gradle 권한 부여
        run: chmod +x ./back-end/gradlew

      - name: Spring Boot 테스트 및 빌드 (Test & Build)
        run: |
          cd back-end
          ./gradlew clean build jacocoTestReport

      - name: 테스트 커버리지 리포트 업로드
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: jacoco-report
          path: back-end/build/reports/jacoco/test/html/

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Docker Buildx 설정
        uses: docker/setup-buildx-action@v2

      - name: 도커 허브 로그인
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker 이미지 빌드 및 푸시 (ARM64)
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/lifehub:latest
          platforms: linux/arm64
      - name: Discord Notification
        uses: sarisia/actions-status-discord@v1
        if: failure() 
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ job.status }}
          title: "☕ 백엔드(Spring) 빌드 실패"
          description: "Docker 이미지 빌드 중 오류가 발생했습니다. 로그를 확인해주세요."
          color: 0xff0000
          username: GitHub Actions
          avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png

  deploy-to-pi:
    needs: build-and-push  
    runs-on: self-hosted  
    steps:
      - name: 기존 서버 끄고 새 버전 실행
        run: |
          docker rm -f lifehub-server || true
          
          docker image prune -f
          
          docker pull ${{ secrets.DOCKER_USERNAME }}/lifehub:latest
          
          docker run -d \
            --name lifehub-server \
            --restart always \
            --network host \
            --env-file /home/suhyun444/lifehub-docker/server.env \
            ${{ secrets.DOCKER_USERNAME }}/lifehub:latest

      - name: Discord Notification
        uses: sarisia/actions-status-discord@v1
        if: always() 
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ job.status }}
          title: "☕ 백엔드(Spring) 배포 결과"
          description: "백엔드 코드가 변경되어 재배포했습니다! 결과: ${{ job.status }}"
          color: ${{ job.status == 'success' && 0x008000 || 0xff0000 }}
          username: GitHub Actions
          avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png